{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Create new Article</h1>

    {{ include('post/_form.html.twig') }}
    <a href="{{ path('app_post_index') }}">Annuler</a>
{% endblock %}
